<nav class="navbar navbar-expand-lg navbar-light header">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src='/assets/img/ballons.png'></a>
  <div class="titleHeader">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"><h1>Festibed</h1></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button mat-button routerLink="festivals" routerLinkActive="active">FESTIVALS</button>
      </li>
      <li class="nav-item">
        <button mat-button routerLink="hebergements" routerLinkActive="active">LOGEMENTS</button>
      </li>
      <li class="nav-item">
<!--        <mat-form-field class="example-full-width">
          <input type="text" aria-label="Number" matInput>
        </mat-form-field>-->
      </li>



      <li class="account">
        <div *ngIf="this.isUserConnected()" class="btn-group btn-block">

          <div class="panier" (click)="sendMessageToParent()">
            <i class="material-icons icon-color">
              shopping_basket
            </i>
          </div>





          <div class="dropdown show">
            <button type="button" class="btn gglConnect float-right" id="navbarDropdown3"  data-toggle="dropdown" >
              <img [src]="this.user.photoURL" class="p-2" width="40" height="40" alt="imgProfile"/>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
              <a class="dropdown-item" routerLink="#" routerLinkActive="active">Devenez un organisateur</a>
              <a class="dropdown-item" routerLink="#" routerLinkActive="active">Devenez un hebergeur</a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item" routerLink="reservation" routerLinkActive="active">Mes réservations</a>
              <!--<a class="dropdown-item" routerLink="#" routerLinkActive="active">Devenez un hebergeur</a>-->

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="deLoginGoogle()">Déconnexion</a>
            </div>
          </div>
        </div>
        <button *ngIf="!this.isUserConnected()" type="button" class="btn keywordButton account" (click)="loginGoogle()">
          Connexion
        </button>
      </li>
    </ul>
  </div>
</nav>
