<div class="tarif">
<div class="tarifSelection">
  <div class="col-6">
    <p><b>Tarif:</b> € {{data.prixLogement}}</p>
    <p>{{data.description}}</p>
    <p><b>Type: </b> {{data.type_chambre}}</p>
  </div>
  <div class="col"
       *ngIf="data.type_chambre === 'Simple' || data.type_chambre === 'Double' || data.type_chambre === 'Familiale'; else  autre">
    <mat-form-field appearance="outline">
      <mat-label>Adulte:</mat-label>
      <mat-select matNativeControl [(value)]="nbAdulte" (selectionChange)="onChangeNbAdulte($event.value)">
        <mat-option value="0">0</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enfant:</mat-label>
      <mat-select matNativeControl [(value)]="nbEnfant" (selectionChange)="onChangeNbEnfant($event.value)">
        <mat-option value="0">0</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-template #autre>
  </ng-template>
</div>

<div class="submit">
  <button mat-stroked-button (click)="ajouterPanier()">Ajouter</button>
</div>
</div>
