<div *ngFor="let r of data">
  <!--<mat-icon mat-list-icon>folder</mat-icon>-->
  <div class="commande-list-item row">
    <div class="col-8">
      <div>Montant total : {{r.montantTotal}} € </div>
      <div>Date de reservation : {{r.date}}</div>

    </div>
    <div class="col commande-see-more-container">
      <button mat-button class="commande-see-more" (click)="openSeeMore(r)">Voir plus</button>
    </div>
  </div>
  <div *ngIf="r.openSeeMore" class="commande-panier-list-item">
    <h4 *ngIf="r.festivals.length > 0">Festivals :</h4>
    <div class="row line-list" *ngFor="let f of r.festivals">
      <div class="col-8">
        <a routerLink="/festivals/{{f.id}}" routerLinkActive="active">
        </a>
        <span class="film-line-text">{{f.nom}}</span>
      </div>
      <div class="avis col" *ngIf="commentable">
        <button mat-stroked-button (click)="openAvisDialog(f)">Donnez un avis</button>
      </div>

    </div>
    <h4>Logements :</h4>
    <div class="row line-list" *ngFor="let l of r.logements">
      <div class="col-8"><a routerLink="/plats/{{l.id}}" routerLinkActive="active"></a><span class="plat-line-text">{{p.nom}}</span>
      </div>
      <div class="col avis" *ngIf="commentable">
        <button mat-stroked-button (click)="openAvisDialog(l)">Donnez un avis</button>
      </div>
    </div>
  </div>
</div>
