<div class="row" *ngIf="festival">
  <div class="info-festival col-7">
    <div class="text-center festival">
      <h1>{{festival.nom}}</h1>
      <div class="type_ville">
        <p><b>Type: {{festival.typeF}}</b></p>
        <p><b>Ville: {{festival.ville}}</b></p>
      </div>
      <div class="date">{{transformDate(festival.dateDebut)}} - {{transformDate(festival.dateFin)}}</div>

      <img src="/assets/img/festival.jpg" height="300">
    </div>

  </div>
  <div class="res-container col-4 float-right">
    <div class="rating">
      <ngb-rating [(rate)]="festival.noteMoyenne" [readonly]="true">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </div>
    <form [formGroup]="form">


      <mat-form-field appearance="outline">
        <mat-label>Date de réservation</mat-label>
        <input matInput
               placeholder="Choisir une periode"
               [satDatepicker]="picker5"
               formControlName="date"
               [min]="minDate" [max]="maxDate">
        <sat-datepicker #picker5 [rangeMode]="true"
                        [selectFirstDateOnClose]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
      </mat-form-field>
      <!--
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>-->
      <div class="tarif">
        <div class="col-4">Tarif: {{festival.tarifCategorie0.toFixed(2)}} €</div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 0</mat-label>
            <mat-select matNativeControl [(value)]="nbCategorie0" (selectionChange)="onChangeCategorie0($event.value)">
              <mat-option value="1">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="tarif">
        <div class="col-4">Tarif: {{festival.tarifCategorie1.toFixed(2)}} €</div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 1</mat-label>
            <mat-select [(value)]="nbCategorie1" (selectionChange)="onChangeCategorie1($event.value)">
              <mat-option value="1">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="tarif">
        <div class="col-4">Tarif: {{festival.tarifCategorie2.toFixed(2)}} €</div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 2</mat-label>
            <mat-select [(value)]="nbCategorie2" (selectionChange)="onChangeCategorie2($event.value)">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="submit">
        <button type="submit" class="btn btn-res" (click)="ajouterPanier()">Ajouter</button>

      </div>
    </form>
  </div>
</div>
