.res-container {
  margin: auto;
  //padding: 0 2%;
  //border-radius: 1rem;
  display: block;
  border-left: solid 1px;
  width: 100%;
  border-color: rgba(133, 133, 133, 0.75);
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(160, 58, 87, 0.36);
}
//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgba(160, 58, 87, 0.36);
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: rgba(160, 58, 87, 0.36);
  opacity: 0.8!important;
}
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(160, 58, 87, 0.36);
  // opacity: 1!important;
}
.btn-res {
  background-color: #AC3B61;
  color: white;
}
.festival {
  margin: 5%;
}
.row {
  height: 100vh;
}
.star {
  font-size: 1.5rem;
  color: #ffffff;
}
.filled {
  color: #AC3B61;
}
mat-form-field {
  width: 100%;
}
.rating {
  margin: 5% 0;
  text-align: center;
}
.type_ville {
  //display: inline-flex;
}
.tarif{
  display: inline-flex;
  width: 100%;
}
.tarif .col-4 {
  margin: auto;
}
.submit {
  text-align: center;
}
.row {
  margin: auto;
}
.info-festival {
  margin: auto;
}
.date {
  margin-bottom: 1%;
}
