<mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <app-header (panier)="toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
  <mat-sidenav position ="end" #sidenav [mode] = "side" [fixedBottomGap]="0" [fixedTopGap]="0" [fixedInViewport]="true">
    <app-panier (hide)="hidePanier()"></app-panier>
  </mat-sidenav>
</mat-sidenav-container>
