<div class="row">

  <div class="col-xl-12 mt-3 ml-4">
    <h2>Paiement : </h2>
  </div>

  <div class="col-xl-12 text-center mt-4">
    <img src="https://www.chambre-hote-vins-bourgogne.com/wp-content/uploads/2019/07/5e8ad2a6bb92-1-400x268.png">
  </div>

  <div class="col-xl-12 text-center mt-5">
    <button class="mr-5" mat-stroked-button (click)="payer()">Valider le paiement</button>
    <button mat-stroked-button (click)="retour()">Annuler le paiement</button>
  </div>

</div>
