<div class="container">
  <nav class="navbar navbar-expand-lg bg-white navbar-light header mt-xl-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
<!--
        <li class="nav-item">
          <mat-form-field>
            <mat-label>Categorie</mat-label>
            <mat-select [(value)]="selectedGenre" (selectionChange)="onGenreChange($event.value)">
              <mat-option class="mat-primary">Aucun</mat-option>
              &lt;!&ndash;<mat-option *ngFor="let genre of genres" value="{{genre.id}}">{{genre.name}}</mat-option>&ndash;&gt;
            </mat-select>
          </mat-form-field>
        </li>-->

        <li class="nav-item">
          <form [formGroup]="form">
          <mat-form-field>
            <input matInput
                   placeholder="Choisir une periode"
                   [satDatepicker]="picker5"
                   formControlName="date">
            <sat-datepicker #picker5 [rangeMode]="true"
                            [selectFirstDateOnClose]="true">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
          </mat-form-field>
          </form>
        </li>

        <li class="nav-item">
          <mat-form-field>
            <input matInput placeholder="Ville" [formControl] ="villeControl" [matAutocomplete]="auto" [(ngModel)]="ville">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let s of filteredOptionsVille" [value]="s.nom" (onSelectionChange)="onChangeVille(s.nom)">
                {{s.nom}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </li>

        <li class="nav-item map">
          <mat-slide-toggle [checked]="map" (change)="map = !map">Map</mat-slide-toggle>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row" *ngIf="hebergements && !map">
    <div class="col-6 px-4 py-3 justify-content-center" *ngFor="let h of hebergements" >
      <app-card-hebergement [data]="h"></app-card-hebergement>
    </div>
  </div>
  <div class="row" *ngIf="hebergements && map">
    <div class="col-6 justify-content-center" >
      <div class="px-4 py-3" *ngFor="let h of hebergements">
        <app-card-hebergement [data]="h"></app-card-hebergement>
      </div>
    </div>
    <div class="col-6 px-4 py-3 justify-content-center"  >
      <agm-map [latitude]="longitude"
               [longitude]="latitude">
        <agm-marker
          *ngFor="let h of hebergements"
          [latitude]="h.longitude"
          [longitude]="h.latitude"
          [opacity]="h.opacity"
          (markerClick)="handleClickMarker(h)"
        >
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
