<form [formGroup]="form">


  <mat-form-field appearance="outline">
    <mat-label>Date de réservation</mat-label>
    <input matInput
           placeholder="Choisir une periode"
           [satDatepicker]="picker5"
           formControlName="date"
           [min]="minDate" [max]="maxDate">
    <sat-datepicker #picker5 [rangeMode]="true"
                    [selectFirstDateOnClose]="true">
    </sat-datepicker>
    <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
  </mat-form-field>

<div *ngIf="logements">
  <div *ngFor="let l of logements">
    <app-logement [data]="l" [dateRes]="dateRes" (dateRes)="dateRes"></app-logement>
  </div>
</div>

</form>
