

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar *ngIf="imageToShow"><img [src]="imageToShow" height="128"></div>
    <mat-card-title>{{data.nom.length > 30? data.nom.substring(0,30).concat('...'): data.nom}}</mat-card-title>
    <mat-card-subtitle>{{data.ville}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list>
      <mat-chip>{{data.typeF}}</mat-chip>
    </mat-chip-list>
    <p>{{data.dateDebut? transformDate(data.dateDebut): ''}} - {{data.dateFin? transformDate(data.dateFin): ''}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/festivals/{{data.id}}">Voir plus</button>
  </mat-card-actions>
</mat-card>
