<div id="table" class="mat-table__wrapper">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortData($event)">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de festival </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Catégorie </th>
      <td mat-cell *matCellDef="let element"> {{element.categorie?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef > Ville </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="valide(element)">
          <mat-icon *ngIf="element.enabled;else nonValide">done</mat-icon>
          <ng-template #nonValide><mat-icon>clear</mat-icon></ng-template>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="tva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TVA </th>
      <td mat-cell *matCellDef="let element"> {{element.tva?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="saleAccount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Compte vente </th>
      <td mat-cell *matCellDef="let element"> {{element.compteVente?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
      <td mat-cell *matCellDef="let element"> {{element.finalPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef > </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary"
                matTooltip="Modifier"
                (click)="openEditDialog(element)">
          <mat-icon>create</mat-icon>
        </button>&nbsp;
        <button mat-icon-button color="warn"
                matTooltip="Supprimer"
                (click)="openDeleteDialog(element)"
                type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="mat-table__bottom">
  <mat-paginator showFirstLastButtons [length] = "this.length" [pageIndex]="pageIndex" [pageSizeOptions]="[20]" (page)="changePage($event)"></mat-paginator>
</div>
